@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* minimal css reset*/
* {
    box-sizing: border-box;
    margin: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: whitesmoke;
}

ol, ul {
  list-style: none;
}

li{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(231, 231, 231);
}

img {
  max-width: 100%;
  display: block;
}
    /* END minimal css reset*/

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

header>h2 {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: rgb(231, 231, 231);
}

.boks {
    border: 0px solid black;
    border-radius: 0px;
    padding: 5px;
    background-color: rgb(231, 231, 231);
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boks>h3 {
    text-align: center;
    margin: 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: rgb(231, 231, 231);
}
    


.boks>p {
    text-align: center;
    width: 180px;
    margin: auto;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(231, 231, 231);
}


.boks>img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

#boks1{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.bilde1{
    border-radius: 10px;
    max-height: 230px;

}

.sabeltann{
    max-height: 240px;
}

.seksjon1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px;
}

a {
    border: 2px solid rgb(62, 109, 228);
    border-radius: 10px;
    padding: 3px;
    color: rgb(62, 109, 228);
    text-decoration: none;
    margin: auto;
    transition: 1s;
}

a > img{
    border-radius: 7px;
    object-fit: contain;
    transition: 1s;
    max-width: 250px;
}

a:hover{
    transform: scale(1.03);
    background-color: rgb(62, 109, 228);
    color: whitesmoke;
}

a > img:hover{
            transform: scale(1.02);
        }

.knapp{
    transition: 0s;
}
