@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        * {
            box-sizing: border-box;
            margin: 0;
        }

        img {
            display: block;
            object-fit: cover;
        }

        .bilde{
            max-width: 400px;
            border-radius: 10px;
        }

        header {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 5px;
        }

        header a {
            position: absolute;
            left: 10px;
        }

        h1 {
            font-size: 35px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
        }

        h3 {
            font-size: 25px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            margin: 10px 0;
        }

        p {
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            width: 400px;
            border: 5px solid lightseagreen;
            border-radius: 10px;
            margin: 10px 0;
            padding: 10px;

        }

        a>img {
            border: solid 2px blue;
            border-radius: 50%;
            max-width: 35px;
            transition: 0.15s;
        }

        a>img:hover {
            transform: scale(1.05);
        }

        main {
            display: flex;
            flex-direction: column;
        }

        section {
            padding: 5px;
        }

        #sec1 {
            background-color: lightblue;
            max-width: 100%;
            min-height: 50vh;
        }

        #sec2 {
            background-color: lightgreen;
            max-width: 100%;
            min-height: 50vh;
        }

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
        }

        .section1 {
            display: flex;
            gap: 100px;
            align-items: center;
            padding: 10px;
        }
         

        .section2 {
            display: flex;
            gap: 100px;
            align-items: center;
            padding: 10px;
        }

        img>.section2 {
            width: 100px;
        }