@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        * {
            box-sizing: border-box;
            margin: 0;
        }

        body {
            background-color: snow;
        }

        header {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(218, 218, 218);
            margin-bottom: 10px;
            padding: 4px;
        }

        header a {
            position: absolute;
            left: 10px;
        }

        a>img {
            border: solid 2px blue;
            border-radius: 50%;
            max-width: 35px;
            transition: 0.15s;
        }

        img:hover {
            transform: scale(1.05);
        }

        h1 {
            font-size: 35px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
        }

        .s1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 8px;

        }

        table {
            background-color: antiquewhite;
            border-collapse: collapse;
            border: solid black 5px;
            width: 95%;
        }

        tr {
            border: solid black 1px;
        }

        td {
            padding: 5px;
            border: solid black 1px;
            font-size: 18px;
        }

        .overskrift td {
            font-weight: bold;
            background-color: lightblue;
            color: black;
        }

        h2 {
            margin: 8px 0;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;

        }

        .s2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 8px;
        }

        .s2div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex: 1;
            width: 100%;
            padding: 10px;

        }

        .subdiv {
            border: 2px solid black;
            padding: 15px;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            

        }

        .fag {
            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
        }

        .fag li {
            white-space: nowrap;
        }

        h3 {
            padding: 10px;
        }